{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}

 <h1>{{ title }}</h1>
    {% for item in news %}
        <div>
            <p>{{ item.title }}</p>
            <p>{{ item.content }}</p>
            <p>{{ item.created|date:'Y-m-d' }}</p>
        </div>
    <hr/>
    {% endfor %}

{% endblock %}